.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: row;
  border: 2px black solid;
  border-radius: 10px;
  margin: 4rem;
  padding: 3rem 3rem 0 3rem;
}

.container {
  width: 100%;
  margin: 3rem;
}

.order0 {
  display: flex;
  order: 0;
}

.order1 {
  display: flex;
  order: 1;
}

.order2 {
  display: flex;
  order: 2;
}

.img-fluid {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  display: flex;
  text-align: center;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: calibri;
}
html:not(.user-is-tabbing) button:focus, html:not(.user-is-tabbing) input:focus, html:not(.user-is-tabbing) select:focus, html:not(.user-is-tabbing) textarea:focus,
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

form {
  z-index: 9999;
}

header {
  background-color: #cc0000;
  border-bottom: 2px black solid;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content-wrapper {
  position: relative;
  z-index: -1;
}

.no-mobile {
  display: none;
}

.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 2147483647;
}

.social-media-pane a {
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
  padding: 10px;
  border-radius: 90px;
  margin-left: 10px;
  background-color: whitesmoke;
  opacity: 0.6;
  transition: width 2s, height 2s, transform 2s;
}
.social-media-pane a:hover {
  transform: rotate(180deg);
}

.burger-wrapper {
  position: absolute;
  right: 20px;
}

.burger {
  display: block;
  color: #ccc;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
}

#NavBar {
  position: absolute;
}

.nav {
  display: flex;
  margin: 0;
  background: maroon;
  color: #ccc;
  position: absolute;
  right: -100%;
  top: 70px;
  width: 50%;
  height: calc(100% - 70px);
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  padding: 20px;
  transition: all 400ms;
  z-index: 2147483647;
}
.nav .dorak-nav-pic {
  position: absolute;
  align-self: center;
  bottom: 20px;
  width: 80%;
  max-width: 80%;
  margin: 1rem;
  transform: scale(30%) rotate(-10deg);
  opacity: 0.7;
}

.navlink {
  text-align: center;
}
.navlink a {
  font-weight: 700;
  font-size: 1.5rem;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: white;
  text-shadow: 2px solid black;
}

.nav-active {
  right: 0;
  height: 100vh;
  min-width: 200px;
}

.top-pane {
  background-color: #f7eeaa;
  background-attachment: fixed;
  padding-top: 120px;
  height: 100%;
  background-size: cover;
  -webkit-transform: skewY(-1deg);
  -moz-transform: skewY(-1deg);
  -ms-transform: skewY(-1deg);
  -o-transform: skewY(-1deg);
  transform: skewY(-1deg);
  margin-top: -150px;
  border-bottom: black 1px solid;
}

.about-text {
  word-wrap: wrap;
  -ms-word-wrap: wrap;
}
.about-text p {
  overflow-x: visible;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.top-wrapper {
  display: grid;
  margin-top: 30px;
  padding: 10px;
  padding-bottom: 30px;
  -webkit-transform: skewY(1deg);
  -moz-transform: skewY(1deg);
  -ms-transform: skewY(1deg);
  -o-transform: skewY(1deg);
  transform: skewY(1deg);
}
.top-wrapper .grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 1.25rem;
  text-align: center;
}
.top-wrapper .character {
  grid-column: 1/-1;
  background-color: green;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: rgba(245, 245, 245, 0.527);
  max-width: 98%;
}
.card .char-name {
  text-align: center;
  font-size: 3.25rem;
  font-weight: 700;
  width: 100%;
  font-family: "Indie Flower", cursive;
}
@media (min-width: 1200px) {
  .card {
    flex-direction: row;
    max-width: 60%;
  }
  .card .card-text {
    margin: 1rem !important;
  }
  .card .card-text img {
    max-width: 100%;
  }
}

@media screen and (min-width: 678px) {
  .no-large {
    display: none;
  }

  .burger {
    font-size: 1.2em;
    display: none;
  }

  .nav-wrapper {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
  }

  .nav {
    display: flex;
    position: relative;
    right: 10px;
    top: auto;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    background-color: transparent;
  }

  .navlink {
    list-style-type: none;
    margin: 0;
  }
  .navlink a {
    color: #ccc;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "Indie Flower", cursive;
  }
  .navlink a:hover {
    color: #3399ff;
  }
}
#slidesPane * {
  box-sizing: border-box;
}
#slidesPane .slideshow-container {
  max-width: 2048px;
  position: relative;
  margin: auto;
  padding-top: 70px !important;
}
#slidesPane .slideshow-container .hero-clown {
  width: 100%;
}
#slidesPane .slideshow-container .dots-center {
  text-align: center;
}
#slidesPane .slideshow-container .clown-slides {
  display: none;
}
#slidesPane .slideshow-container .prev,
#slidesPane .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6 ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
#slidesPane .slideshow-container .prev:hover,
#slidesPane .slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
#slidesPane .slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
#slidesPane .slideshow-container .caption-txt {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8x 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
#slidesPane .slideshow-container .number-text {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
#slidesPane .slideshow-container .dot {
  cursor: pointer;
  height: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
#slidesPane .slideshow-container .active,
#slidesPane .slideshow-container .dot:hover {
  background-color: #717171;
}
#slidesPane .slideshow-container .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 6000ms;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=custom.css.map */
