.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: row;
    border: 2px black solid;
    border-radius: 10px;
    margin: 4rem;
    padding: 3rem 3rem 0 3rem;
}

.container {
    width: 100%;
    margin: 3rem;
}

.order0 {
    display: flex;
    order: 0;
}

.order1 {
    display: flex;
    order: 1;
}

.order2 {
    display: flex;
    order: 2;
}